<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-left">FAQs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image">
  <ion-row class="ion-margin-top">
    <ion-col size="12">
      <mat-accordion>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Self aware panel
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>
    </ion-col>

    <ion-col size="12">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Self aware panel
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>
    </ion-col>

    <ion-col size="12">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Self aware panel
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>
    </ion-col>

    <ion-col size="12">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Self aware panel
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>
    </ion-col>
  </ion-row>
</ion-content>
