<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-left">Right patients for Itolizumab</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-margin-top">
    <ion-col size="12">
      <img src="assets/img/covid-background.jpg">
    </ion-col>
  </ion-row>

  <ion-list class="ion-margin-top">
  <ion-item class="itns_p">
    <ion-label>
      <h2>Finn</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </ion-label>
  </ion-item>

  <ion-item class="itns_p">
    <ion-label>
      <h2>Han</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </ion-label>
  </ion-item>

  <ion-item class="itns_p">
    <ion-label>
      <h2>Rey</h2>
      <p>You will remove these restraints and leave...Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </ion-label>
  </ion-item>

  <ion-item class="itns_p">
    <ion-label>
      <h2>Luke</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </ion-label>
  </ion-item>
</ion-list>
</ion-content>
