.logo_main {
    padding-top: 25%;
}
.main_forms{
    padding-top: 15%;
}
ion-item {
    --background: transparent;
}
ion-col{
    margin: auto;
}
.text_ce{
    text-align: center;
}
.ion-margin-top_02{
    margin-top: 13%;
}
.logo_main img{
    width: 75%;
    margin: auto;
    display: block;
}