<ion-content fullscreen padding class="paddming">
    <div class="title_login">
        <div class="logo_main">
            <img src="assets/img/BIQoL_Logo_72dpi.png">
            <h5 class="text-center forgot-title">Forgot Password</h5>
        </div>
    </div>

    <form [formGroup]="Form" class="main_forms">

        <ion-item lines="full" class="ion-padding-top">
            <ion-label position="floating">Username</ion-label>
            <ion-input formControlName="username" type="text" required autocomplete="off" clear-input></ion-input>
        </ion-item>



        <ion-item lines="full">
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email" type="text" autocomplete="off" clear-input></ion-input>
        </ion-item>



        <ion-row class="ion-padding-top">

            <ion-col size="4">
                <ion-button type="button" class="custom_btn" shape="round" fill="outline" (click)="send()"> Send </ion-button>
            </ion-col>
        </ion-row>


    </form>



</ion-content>