<ion-header>
  <ion-toolbar class="header-background-color">
    <ion-buttons slot="start">
      <ion-menu-button class="primary_arrow_inner"></ion-menu-button>
    </ion-buttons>
    <ion-title class="top_center">Home</ion-title>
    <ion-buttons slot="end">
      <ion-button class="primary_arrow_inner">
        <!-- <ion-badge>2</ion-badge> -->
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding fullscreen>

<h1>Main Content</h1>

</ion-content>